@font-face {
  font-family: "RixYeoljeongdo_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: less-light;
  src: url("../Fonts/Less.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.home {
  height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../sourceImg/main-background-img.jpg");
  background-size: 100vw 100vh;
}

.home-Logo {
  padding: 0.6vh;
  position: fixed;
  left: 3vw;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-Logo p:nth-child(1) {
  color: black;
  font-family: "RixYeoljeongdo_Regular";
  font-size: 5vh;
  margin: 0;
  letter-spacing: 0.3vh;
}

.home-Logo p:nth-child(2) {
  font-family: less-light;
  margin: 0;
  color: black;
  font-size: 3vh;
  letter-spacing: 0.47vh;
}

.home > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(60vh + 6px + 2vh);
}

.home-nav {
  list-style: none;
  width: calc(60vh + 4px + 2vh);
  display: grid;
  margin: 0;
  padding: 0;
  gap: 1vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-nav li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: calc(40vh + 1vh + 2px) !important;
  height: calc(
    40vh + 1vh + 2px
  ) !important; /* 순서대로 각 li의 높이의 2배 + gap + 테두리두꼐) */
  margin: 0;
}

.home-first .CardFront {
  width: calc(40vh + 1vh + 2px) !important;
  height: calc(40vh + 1vh + 2px) !important;
}

.CardFront:hover .CardInfo {
  opacity: 0;
  transition: 0.12s ease-in-out;
}

.home-first .CardBack {
  width: calc(40vh + 1vh + 2px) !important;
  height: calc(40vh + 1vh + 2px) !important;
}

.home-nav li {
  text-align: center;
  height: 20vh;
  width: 20vh;
  border-radius: 10px 10px 0% 10px / 10px 10px 0% 10px;
  box-shadow: rgb(0 0 0 / 2%) -1px 1px 1px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(70, 77, 82, 0.082);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-style: normal;
}

.home-nav li svg {
  height: 6vh;
  width: 6vh;
}

.home-nav li p {
  margin-top: 1.7vh !important;
  margin-bottom: 0 !important;
  font-size: 2.3vh;
}

.home-nav li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.home-nav:nth-child(1) div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
