body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.landing-box {
  height: 98vh;
  position: absolute;
}

.landing-Logo {
  padding: 0.6vh;
  position: sticky;
  margin-left: 4vw;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-Logo p:nth-child(1) {
  color: black;
  font-family: "RixYeoljeongdo_Regular";
  font-size: 5vh;
  margin: 0;
  letter-spacing: 0.3vh;
}

.landing-Logo p:nth-child(2) {
  font-family: less-light;
  margin: 0;
  color: black;
  font-size: 3vh;
  letter-spacing: 0.47vh;
}

.landing-navigator {
  position: fixed;
  top: 40vh;
  left: 84vw;
}

.landing-navigator ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing-navigator ul li {
  cursor: pointer;
  margin-bottom: 1vh;
}

.landing-1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../sourceImg/main-background-img.jpg);
  background-size: 100vw 100vh;
}

.landing-1 > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(60vh + 6px + 2vh);
}

.landing-nav {
  list-style: none;
  width: calc(60vh + 4px + 2vh);
  display: grid;
  margin: 0;
  padding: 0;
  grid-gap: 1vh;
  gap: 1vh;
  grid-template-columns: 1fr 1fr 1fr;
  /* https://studiomeal.com/archives/533 참고 */
}

.landing-nav li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: calc(40vh + 1vh + 2px) !important;
  height: calc(
    40vh + 1vh + 2px
  ) !important; /* 순서대로 각 li의 높이의 2배 + gap + 테두리두꼐) */
  margin: 0;
  cursor: inherit;
}

.landing-nav li a {
  color: black;
  text-decoration: none;
}

.landing-nav li {
  text-align: center;
  height: 20vh;
  width: 20vh;
  border-radius: 10px 10px 0% 10px / 10px 10px 0% 10px;
  box-shadow: rgb(0 0 0 / 2%) -1px 1px 1px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(70, 77, 82, 0.082);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url(../sourceImg/cursor.png), pointer;
}

.landing-nav li:nth-child(2) a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-nav li svg {
  height: 6vh;
  width: 6vh;
}

.landing-nav li > p {
  margin-top: 1.7vh !important;
  margin-bottom: 0;
  font-size: 2.3vh;
}

.landing-1-video video {
  height: calc(38vh + 4px);
  width: calc(38vh + 4px);
  border-radius: 10px 10px 0% 10px / 10px 10px 0% 10px;
}

.landing-1-video div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing-1-video a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-toLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
  width: 50%;
  border-radius: 24px;
  height: 5vh;
  transition: 0.3s;
  cursor: pointer;
}

.landing-toLogin a {
  color: white !important;
}

.landing-toLogin:active {
  background: midnightblue;
  transition: 0.3s;
}

.landing-2 {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  background-image: url(../sourceImg/Landing-2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20vh;
  background-size: 55vw 100vh;
}

.landing-2-Container {
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.landing-2 .landing-2-MainText {
  font-size: 3vh;
  text-align: right;
}

.landing-2 .landing-2-MainText p {
  margin: 0.3em;
}

.landing-2 .landing-2-SubText {
  text-align: right;
  color: white;
}

.landing-2 .landing-2-info hr {
  border: none;
  height: 0.2vh;
  background: rgb(60, 60, 60);
}

.landing-3 {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #dafaaa;
  background-image: url(../sourceImg/Landing-3.png);
  background-size: 50vw 50vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 43vh;
}

.landing-3 > img {
  height: 20vh;
  width: 20vh;
  border: 1px solid black;
  background: white;
}

.landing-3 p {
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.landing-3-container {
  font-size: 1.6rem;
}

.landing-3-prob {
  color: white;
  font-size: 2rem;
}

.landing-4 {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background-image: url(../sourceImg/Landing-4.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 20vh;
  background-size: 55vw 100vh;
}

.landing-footer {
  display: flex;
  flex-direction: row;
  grid-gap: 70%;
  gap: 70%;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: #999;
}

.landing-footer * {
  text-decoration: none;
  color: black;
  font-size: 2vh;
}

.landing-footer a {
  cursor: pointer;
}

.landing-footer a:hover {
  text-decoration: underline !important;
}
