html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(../sourceImg/login-background-img.jpg);
  background-size: 130%;
}

.login-button-container {
  margin-top: 71vh;
  display: flex;
  gap: 3vh;
  flex-direction: column;
}

.login-button-container button {
  border: 0px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 16px;
  cursor: pointer;
  background: #fdfdfd;
  border: 0.6px solid #f0f0f0b3;
  box-shadow: rgba(230, 230, 230, 0.863) 1px 1px;
}
