html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mission-Container {
  margin: 0;
  padding: 0;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.mission-Container .mission-Head {
  display: flex;
  flex-direction: row;
}

.mission-Container .mission-Head p {
  width: 50%;
  border: 1px solid black;
  text-align: center;
  height: 8vh;
  margin: 0;
  margin-top: 6vh;
  padding: 0;
  margin-bottom: 2vh;
}

.mission-select {
  border: 1px yellow solid !important;
  background-color: khaki !important;
}

.mission-middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  width: 100%;
}

.mission-Container button {
  width: 12vh;
  height: 6vh;
}

.mission-Container ul li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.mission-Container ul li p {
  margin: 0;
}

.mission-Container ul li a {
  text-decoration: none;
  margin: 0;
}

.mission-Container ul li * {
  margin-top: 0.7em !important;
  margin-bottom: 0.7em !important;
}
