@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mission-Container {
  margin: 0;
  padding: 0;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  font-family: "GongGothicLight";
  font-weight: normal;
  font-style: normal;
}

.mission-Container > h2 {
  transform: translateX(6vw);
}

.mission-Container .mission-Head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10% !important;
}

.mission-Container .mission-Head p {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50%;
  height: 8vh;
  border: 1px solid black;
  text-align: center;
  margin: 0;
  margin-top: 2vh;
  padding: 0;
  margin-bottom: 2vh;
  vertical-align: middle;
}

.mission-select {
  border: 1px yellow solid !important;
  background-color: khaki !important;
}

.mission-middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  width: 100%;
}

.mission-Container button {
  width: 12vh;
  height: 6vh;
}

.mission-Container ul li {
  list-style: none;
  height: 8vh;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding-left: 1.6%;
  padding-right: 1.6%;
  align-items: center;
  justify-content: space-between;
}

.mission-Container ul {
  margin-top: 1% !important;
  width: 84%;
  margin: 0;
  padding: 0;
  margin-left: 8% !important;
}

.mission-Container ul li p {
  margin: 0;
}

.mission-Container ul li a {
  text-decoration: none;
  color: black;
  margin: 0;
}

.mission-Container ul li a:active {
  color: darkorange;
}

.mission-Container ul li * {
  margin-top: 0.7em !important;
  margin-bottom: 0.7em !important;
}

.mission-eval li {
  justify-content: center !important;
  letter-spacing: 0.6px;
}

.mission-body hr {
  width: 84.2%;
  border: hidden;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-left: 7.9%;
}

.mission-no {
  color: lightslategrey;
}

.mission-Container > img {
  position: fixed !important;
  z-index: -1;
  top: -20px;
}
