@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
  width: 60%;
  font-family: "GongGothicLight";
  font-weight: normal;
  font-style: normal;
}

.store > h2,
.store > p,
.store > .store-head {
  transform: translateX(6vw);
}

.store-head {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.store img {
  object-fit: contain;
}

.store ul {
  list-style: none;
  width: 84%;
  margin-left: 8% !important;
  padding-left: 0 !important;
}

.store ul li {
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.store ul hr {
  width: 100%;
  border: hidden;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}

.store a {
  text-decoration: none;
  color: black;
}

.store a:active {
  text-decoration: none;
  color: darkorange;
}

.community-head a:nth-child(1) {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 5px;
}
