html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.UserHistory {
  margin-left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UserHistory h2 {
  margin-left: 9%;
}

.UserHistory ul {
  width: 84%;
  list-style: none;
  margin: 0;
  margin-left: 8% !important;
  padding: 0;
}

.UserHistory ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.UserHistory ul hr {
  width: 100%;
  border: hidden;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}
